<div class="contents row">
  <% @tweets.each do |post| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
      <span class="name">
        <%= post.name %>
      </span>
    </div>
  <% end %>
</div>
